django
django-filter
django-extensions

django-ninja
django-ninja-extra

djangorestframework
djangorestframework-simplejwt
django-cors-headers

coreapi
markdown
orjson

pydantic

python-dotenv

loguru

requests
aiohttp
bs4

nicegui
pytz

jupyter
