django
django-filter
django-extensions
django-simpleui
django-cors-headers

markdown
djangorestframework
djangorestframework-simplejwt
drf-spectacular
drf_material

bs4
orjson
aiohttp
pydantic
django-ninja
django-ninja-extra

python-dotenv
loguru
requests

jupyter

nicegui
pytz


