django

djangorestframework
django-filter
markdown
djangorestframework-simplejwt
coreapi

django-extensions

django-ninja
django-ninja-extra
orjson

pydantic

python-dotenv

loguru

requests
aiohttp
bs4

nicegui
pytz

jupyter
